__pycache__/
*.pyc
*.pyo
db.sqlite3
.env
*.sqlite3
venv/
env/
.elasticbeanstalk/
*.log
staticfiles/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
db.sqlite3
