container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo \"from django.contrib.auth import get_user_model; U=get_user_model(); U.objects.filter(username='admin').exists() or U.objects.create_superuser('admin','admin@example.com','Admin1234!')\" | python manage.py shell"
    leader_only: true
