container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsuperuser:
    command: >
      python manage.py shell -c
      "from django.contrib.auth import get_user_model;
      U = get_user_model();
      U.objects.filter(username='admin').exists() or
      U.objects.create_superuser('admin', 'admin@example.com', 'admin123')"
    leader_only: true