{% extends 'books/base.html' %}   <!-- tells django to use base.html as parent layout,contains--<head>,navigation bar and footer-->

{% block title %}{{ book.title }}{% endblock %}

{% block content %}   <!--starts the main section of the page where the specific book details will be injected-->

<div class="card shadow-sm">     <!--card shadow--A bootstrap container with subtle shadow-->

    <div class="card-header bg-dark text-white">
        <h3>{{ book.title }}</h3>
        <small>by {{ book.author }}</small>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th>ISBN</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>&euro;{{ book.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ book.stock }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ book.get_genre_display }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description|default:"N/A" }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ book.published_date|default:"Unknown" }}</td>
            </tr>
        </table>
        <div class="d-flex gap-2">
    <a href="{% url 'book_update' book.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger">Delete</a>

    <!-- ADD: Add to Cart button -->
    <form method="post" action="{% url 'cart_add' book.pk %}" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-success">
            &#128722; Add to Cart       <!--code for emoji-->
        </button>
    </form>

    <a href="{% url 'book_list' %}" class="btn btn-outline-secondary">Back</a>
</div>

      

    </div>
</div>

{% endblock %}